@import "theme.css";

* {
	font-family: "0xProto Nerd Font";
	font-weight: bold;
	font-size: 16px;
	color: @main-fg;
}

/*------------------------
	per-module styling
------------------------*/

/* group-theme_switcher */

#custom-user {
	padding-right: 12px;
	font-weight: normal;
}

/* workspaces */

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
button {
	border-radius: 16px;
	padding: 0 10px;
}
button:hover {
	background-color: @hover-bg;
	color: @hover-fg;
}
button.active label {
	font-size: 23px;
	color: @accent;
}

/* window and window count */

#window {
	margin-left: 12px;
}
#window label {
	font-weight: normal;
}
#windowcount {
	margin-right: 12px;
}
#windowcount label {
	color: @hover-fg;
}

/* temperature */

#custom-left_div.2 {
	color: @temperature;
}
#temperature {
	background-color: @temperature;
}

/* memory */

#custom-left_div.3 {
	background-color: @temperature;
	color: @memory;
}
#memory {
	background-color: @memory;
}

/* cpu */

#custom-left_div.4 {
	background-color: @memory;
	color: @cpu;
}
#cpu {
	background-color: @cpu;
}
#custom-left_inv.1 {
	color: @cpu;
}

/* distro */

#custom-left_div.5,
#custom-right_div.2 {
	color: @accent;
}
#custom-distro {
	padding: 0 10px 0 5px;
	font-size: 23px;
	background-color: @accent;
	color: @main-bg;
}

/* idle inhibitor and time */

#custom-right_inv.1 {
	color: @time;
}
#idle_inhibitor {
	background-color: @time;
}
#clock.time {
	padding-right: 6px;
	background-color: @time;
}
#custom-right_div.3 {
	background-color: @date;
	color: @time;
}

/* date */

#clock.date {
	padding-left: 6px;
	background-color: @date;
}
#custom-right_div.4 {
	background-color: @tray;
	color: @date;
}

/* tray */

#network {
	background-color: @tray;
	padding: 0 6px 0 4px;
}
#bluetooth {
	background-color: @tray;
	padding: 0 5px;
}
#custom-system_update {
	background-color: @tray;
	padding: 0 8px 0 2px;
}
#custom-right_div.5 {
	color: @tray;
}

/* mpris */

#mpris {
	padding: 0 12px;
	font-weight: normal;
}

/* group-wireplumber */

#custom-left_div.6 {
	color: @wireplumber;
}
#wireplumber {
	background-color: @wireplumber;
}

/* backlight */

#custom-left_div.7 {
	background-color: @wireplumber;
	color: @backlight;
}
#backlight {
	background-color: @backlight;
}

/* battery */

#custom-left_div.8 {
	background-color: @backlight;
	color: @battery;
}
#battery {
	background-color: @battery;
}
#custom-left_inv.2 {
	color: @battery;
}

/* power menu */

#custom-power_menu {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	font-size: 20px;
	color: @accent;
}
#custom-power_menu:hover {
	background-color: @hover-bg;
}

/*---------------------
	general styling
---------------------*/

#custom-theme_switcher:hover,
#idle_inhibitor:hover,
#clock.date:hover,
#network:hover,
#bluetooth:hover,
#custom-system_update:hover,
#mpris:hover,
#wireplumber:hover {
	color: @hover-fg;
}

.warning { color: @warning; }
.critical { color: @critical; }
.charging { color: @charging; }
.muted { color: @hover-fg; }

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	font-size: 23.1px;
}

/* outline */
window#waybar {
	background-color: @shadow;
}

/* background */
window#waybar > box {
	margin: 4px;
	background-color: @main-bg;
}

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip label {
	margin: 2px 4px;
	font-weight: normal;
}
tooltip decoration {
	border: none;
	background-color: transparent;
}
