/* ignore GTK theme */
* {
	all: initial;
}

@import "current-theme.css";
@import "styles/fonts.css";
@import "styles/global.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";
