/* 
bg - background
fg - foreground
br - border
*/

/* Main Colors */
@define-color main-bg               #11111b;
@define-color main-fg               #cdd6f4;
@define-color main-br               #cdd6f4;

@define-color active-bg             #9399b2;
@define-color active-fg             #11111b;

@define-color hover-bg              #45475a;
@define-color hover-fg              #cdd6f4;

/* Module Colors */
@define-color module-fg             #f5e0dc;
@define-color workspaces            #181825;

@define-color cpuinfo               #181825;
@define-color memory                #1e1e2e;
@define-color cpu                   #313244;
@define-color arch-fg               #000000;
@define-color arch-bg               #9399b2;
@define-color time                  #313244;
@define-color date                  #1e1e2e;
@define-color wifi                  #181825;

@define-color pulseaudio            #181825;
@define-color backlight             #1e1e2e;
@define-color battery               #313244;
@define-color power                 #9399b2;

/* State Colors */
@define-color good                  #f5e0dc;
@define-color warning               #f9e2af;
@define-color critical              #f38ba8;
@define-color full                  #a6e3a1;
@define-color charging              #cdd6f4;
