/* 
bg - background
fg - foreground
br - border
*/

* {
    main-bg:            #11111b;
    main-fg:            #cdd6f4;
    main-br:            #cdd6f4;
    select-bg:          #b4befe;
    select-fg:          #11111b;
}
