/* 
  bg - background
  fg - foreground
  br - border
*/

* {
  main-fg:        #cdd6f4;
  main-bg:        #11111b;
  main-br:        #cdd6f4;
  input-bg:       #181825;
  select-bg:      #9399b2;
  select-fg:      #11111b;
}
