* {
	font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 16px;
}

#window label,
#mpris {
	font-weight: normal;
}

#workspaces button.active label,
#workspaces button.focused label,
#custom-distro {
	font-size: 18px;
}

#custom-power {
	font-size: 18px;
}

#custom-left,
#custom-left.inverse,
#custom-right,
#custom-right.inverse {
	font-size: 18.5px;
}
