/* catppuccin frappe */

@define-color rosewater     #f2d5cf;
@define-color flamingo      #eebebe;
@define-color pink          #f4b8e4;
@define-color mauve         #ca9ee6;
@define-color red           #e78284;
@define-color maroon        #ea999c;
@define-color peach         #ef9f76;
@define-color yellow        #e5c890;
@define-color green         #a6d189;
@define-color teal          #81c8be;
@define-color sky           #99d1db;
@define-color sapphire      #85c1dc;
@define-color blue          #8caaee;
@define-color lavender      #babbf1;
@define-color text          #c6d0f5;
@define-color subtext1      #b5bfe2;
@define-color subtext0      #a5adce;
@define-color overlay2      #949cbb;
@define-color overlay1      #838ba7;
@define-color overlay0      #737994;
@define-color surface2      #626880;
@define-color surface1      #51576d;
@define-color surface0      #414559;
@define-color base          #303446;
@define-color mantle        #292c3c;
@define-color crust         #232634;

/*
	br - border
	bg - background
	fg - foreground
*/

/* main colors */

@define-color accent        @lavender;
@define-color main-br       @subtext0;
@define-color main-bg       @crust;
@define-color main-fg       @text;
@define-color hover-bg      @base;
@define-color hover-fg      alpha(@main-fg, 0.75);
@define-color outline       shade(@main-bg, 0.5);

/* module colors */

@define-color workspaces    @mantle;
@define-color temperature   @mantle;
@define-color memory        @base;
@define-color cpu           @surface0;
@define-color time          @surface0;
@define-color date          @base;
@define-color tray          @mantle;
@define-color volume        @mantle;
@define-color backlight     @base;
@define-color battery       @surface0;

/* state colors */

@define-color warning       @yellow;
@define-color critical      @red;
@define-color charging      @green;
