#custom-left.accent,
#custom-right.accent {
	color: @accent;
}

#custom-left.bg-1,
#custom-right.bg-1 {
	color: @bg-1;
}

#custom-left.bg-2,
#custom-right.bg-2 {
	background-color: @bg-1;
	color: @bg-2;
}

#custom-left.bg-3,
#custom-right.bg-3 {
	background-color: @bg-2;
	color: @bg-3;
}

#custom-left.inverse,
#custom-right.inverse {
	color: @bg-3;
}
