/* Media info */
#mpris {
	padding: 0 12px;
}

/* Volume */
#custom-left_div.6 {
	color: @layer-1;
}
#pulseaudio,
#wireplumber {
	background-color: @layer-1;
}

/* Brightness */
#custom-left_div.7 {
	background-color: @layer-1;
	color: @layer-2;
}
#backlight {
	background-color: @layer-2;
}

/* Battery */
#custom-left_div.8 {
	background-color: @layer-2;
	color: @layer-3;
}
#battery {
	background-color: @layer-3;
}
#custom-left_inv.2 {
	color: @layer-3;
}

/* Power */
#custom-power {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
#custom-power:hover {
	background-color: @hover-bg;
}
