/* Workspaces */
#custom-left_div.1,
#custom-right_div.1 {
	color: @layer-1;
}
#workspaces {
	padding: 0 1px;
	background-color: @layer-1;
}
#workspaces button.active label,
#workspaces button.focused label {
	color: @accent;
}

/* Window title */
#window {
	margin: 0 12px;
}
