/* Left modules */

#custom-user {
	padding: 0 16px;
}

#workspaces {
	padding: 0 1px;
	background-color: @bg-1;
}

#window {
	padding: 0 12px;
	/* Prevent large Unicode characters from increasing the bar height
	 * https://github.com/Alexays/Waybar/issues/2026
	 */
	margin: -50px 0;
}
#window label {
	font-weight: normal;
}

#keyboard-state label,
#language {
	padding: 0 12px 0 8px;
	font-weight: normal;
	color: @hover-fg;
}

/* Center modules */

#temperature {
	background-color: @bg-1;
}

#memory {
	background-color: @bg-2;
}

#cpu {
	background-color: @bg-3;
}

#custom-distro {
	padding: 0 10px 0 5px;
	background-color: @accent;
	color: @bg-0;
}

#idle_inhibitor {
	background-color: @bg-3;
}
#clock.time {
	padding-right: 6px;
	background-color: @bg-3;
}

#clock.date {
	padding-left: 6px;
	background-color: @bg-2;
}

#network {
	padding: 0 6px 0 4px;
	background-color: @bg-1;
}
#bluetooth {
	padding: 0 5px;
	background-color: @bg-1;
}
#custom-update {
	padding: 0 8px 0 2px;
	background-color: @bg-1;
}

/* Right modules */

#mpris {
	padding: 0 12px;
	font-weight: normal;
}

#pulseaudio,
#wireplumber {
	background-color: @bg-1;
}

#backlight {
	background-color: @bg-2;
}

#battery {
	background-color: @bg-3;
}

#custom-power {
	border-radius: 16px;
	padding: 0 19px 0 16px;
	color: @accent;
}
