/*--------------
    username
--------------*/

#custom-user {
	padding-right: 12px;
}

/*----------------
    workspaces
----------------*/

#custom-left_div.1,
#custom-right_div.1 {
	color: @workspaces;
}
#workspaces {
	padding: 0 1px;
	background-color: @workspaces;
}
#workspaces button.active label,
#workspaces button.focused label {
	color: @accent;
}

/*------------------
    window title
------------------*/

#window {
	margin-left: 12px;
}
