* {
	font-family: "0xProto Nerd Font";
	font-weight: bold;
	font-size: 16px;
	color: @main-fg;
}

#custom-user,
#window label,
#mpris,
tooltip label {
	font-weight: normal;
}

#workspaces button.active label,
#custom-distro {
	font-size: 22px;
}

#custom-power_menu {
	font-size: 19px;
}

/*--------------
    dividers
--------------*/

#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	font-size: 22px;
}

/* ... */
.module,
#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	margin-bottom: -1px;
}
