#waybar {
	background-color: @outline;
}
#waybar > box {
	margin: 4px;
	background-color: @main-bg;
}

/*--------------
    tooltips
--------------*/

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip > box {
	padding: 0 6px;
}

/* alignment */
.module,
#custom-left_div,
#custom-left_inv,
#custom-right_div,
#custom-right_inv {
	margin-bottom: -1px;
}
